html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  background:#ededed;
  padding:10px;
}
#content {
  padding-bottom:100px; /* Height of the footer element */
}
#footer {
  padding: 20px 0px;
  width:100%;
  height: 50px;

  bottom:0;

}

.foot{
  padding-top:10px;
  text-align:center;
  color:#808080;
}
#social-networks img{
  height:40px;
  width: 40px;
}

.icon{
  width:20px;
  height:20px;
  margin-left:5px;
  background: #ffffff;
}

.thunderstorm {
  content: url('../images/svg/icon_weather_07.svg');
}
.drizzle {
  content: url('../images/svg/icon_weather_05.svg');
}
.rain_1 {
  content: url('../images/svg/icon_weather_08.svg');
}
.rain_2 {
  content: url('../images/svg/icon_weather_06.svg');
}
.snow {
  content: url('../images/svg/icon_weather_06.svg');
}
.atmosphere {
  content: url('../images/svg/icon_weather_03.svg');
}
.clouds_1 {
  content: url('../images/svg/icon_weather_02.svg');
}
.clouds_2 {
  content: url('../images/svg/icon_weather_01.svg');
}
.extreme {
  content: url('../images/svg/icon_weather_01.svg');
}
.additional {
  content: url('../images/svg/icon_weather_01.svg');
}
